<ion-header>

  <ion-navbar>
    <ion-title>Nature</ion-title>
  </ion-navbar>

</ion-header>


<ion-content header-scroller>
    <ion-spinner name="dots" duration="1000"[hidden]="data"><p>Fetching Images</p></ion-spinner>
    <div *ngIf="data">
    <ion-card *ngFor = "let image of data">
       <div class="header_container">
        
        <div (click)="getUsers($event, image.user.username)" class="header">
            <ion-avatar item-left>
                <img src = "{{image.user.profile_image.medium}}" alt = "userimage">
            </ion-avatar>
            <h2> {{image.user.username}}</h2>
            <p> {{image.user.location}} </p>
        </div>
           </div>
       <img src = "{{image.urls.regular}}" alt = "" (click)="selected($event, image)">
        <div class="footer">
            <div class="likes">
            <ion-icon name = "heart" color = "danger"> </ion-icon>
            <h2> {{image.likes}} </h2>
            </div>
            <p> {{image.updated_at | date: 'MMM d,y'}} </p>
       </div>
    </ion-card>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>   
 </ion-infinite-scroll>
        </div>
</ion-content>

