<!--
  Generated template for the WallpaperPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-content>
    <ion-header no-border>

  <ion-navbar  transparent hide-nav-bar="true">
  </ion-navbar>

</ion-header>
    <img *ngIf="data" src = "{{data.urls.regular}}" alt = "">
            <!--

    <ion-card *ngIf="data" hide-nav-bar="true">
        <ion-item>
            <ion-avatar item-left>
                <img src = "{{data.user.profile_image.small}}" alt = "userimage">
            </ion-avatar>
            <h2> {{data.user.username}}</h2>
            <p> {{data.user.location}} </p>
        </ion-item>
        <img src = "{{data.urls.regular}}" alt = "">
        <ion-item>
            <ion-icon name = "heart" color = "danger" item-left> </ion-icon>
            <h2> {{data.likes}} </h2>
            <p item-right> {{data.updated_at}} </p>
        </ion-item>
    </ion-card>
    -->
    
    <div class="container" no-border>
    <div class="likes" *ngIf="data">
            <ion-icon name = "heart" color = "danger"> </ion-icon>
            <h2> {{data.likes}} </h2>
    </div>
        </div>
    <progress-bar [hidden] = "!downloading" [progress]="progress"></progress-bar>
    <div [hidden] = "!downloading" class="buttons">
        <button class="cancel" (click)="cancel()">Cancel</button>
        <!--<button ion-button (click)="setWallpaper()">Set Wallpaper</button>-->
    </div>
    <div class="buttons">
        <button class="download" (click)="download()">Download</button>
        <!--<button ion-button (click)="setWallpaper()">Set Wallpaper</button>-->
        <button class="share" (click)="share()">Share</button>
    </div>
    <div class="buttons">
        <button class="set" (click)="set()">Set Wallpaper</button>
        <!--<button ion-button (click)="setWallpaper()">Set Wallpaper</button>-->
        
    </div>
    <hr>
    <div class="usercon">
    <div class="user" *ngIf="data">
        <img src = "{{data.user.profile_image.large}}" alt = "userimage">
        <h2> {{data.user.username}}</h2>
        <p> {{data.user.location}} </p>
        <button (click)="openUser($event, data.user.username)">Visit Profile</button>
    </div>
        </div>
    <div class="spin" *ngIf="spinning">
        <ion-spinner name="circles" duration="1000"></ion-spinner>
        <h1>Please Wait</h1>
    </div>


</ion-content>
