page-wallpaper {
    ion-content{
        height: 100%;
        position: relative;
        background: #ffffff;
    }
    height: 100%;
    ion-header{
        background: transparent !important;
        top-padding: 0;
        ion-navbar{
            background: transparent !important;
            position: fixed;
        }
        
    }
    img{
        width : 100%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .container{
        position: relative;
        margin-left: 5px;
            margin-right: 5px;
        background: repeating-linear-gradient(-90deg, #00c3ff, #ffff1c);
        border-bottom: 3px solid;
        border-image: repeating-linear-gradient(45deg, #34e89e, #0f3443);
    .likes{
          
            background-color : #141518;
            width: 100%;
            height: 30px;
            padding-bottom: 10px;
        ion-icon{
            position: absolute;
            height: 100%;
            margin: auto;
            vertical-align: middle;
            top: 7px;
            left: 5px;
            }
        h2{
            position: absolute;
            top: 7px;
            left: 25px;
            margin: auto;
            color: azure;
            vertical-align: middle;
            height: 100%;
            font-size: 0.9em;
            }
        }
    }
    .buttons{
        width: 100%;
        margin-top: 20px;
        padding-bottom: 20px;
        position: relative;
        .download{
            background: transparent;
            width:40%;
            margin-left:5%;
            margin-right: 2.5%;
            padding-left: 5%;
            padding-right: 5%;
            padding-top: 2%;
            padding-bottom: 2%;

            color: azure;
            font-weight: 700;
            border: 2px solid #86E388;
            border-radius: 5px;
            display: inline;
        }
        .download:active{
            background: #86E388;
        }
        .share{
            background: transparent;
            display: inline;
            width:40%;
            padding-left: 5%;
            padding-right: 5%;
            padding-top: 2%;
            padding-bottom: 2%;
            margin-right: 5%;
            margin-left: 2.5%;
            color: azure;
            font-size: 1em;
            font-weight: 700;
            border: 2px solid #86E388;
            border-radius: 5px;
            float: right;


        }
        .cancel{
            background: transparent;
            display: inline;
            position: absolute;
            width:30%;
            left: 35%;
            padding-left: 5%;
            padding-right: 5%;
            padding-top: 2%;
            padding-bottom: 2%;
            margin-bottom: 20px;
            text-align: center;
            color: azure;
            font-size: 1em;
            font-weight: 700;
            border: 2px solid #86E388;
            border-radius: 5px;
            float: right;
        }
        .set{
            background: transparent;
            display: inline;
            position: absolute;
            width:90%;
            top: -80%;
            left: 5%;
            padding-left: 5%;
            padding-right: 5%;
            padding-top: 2%;
            padding-bottom: 2%;
            text-align: center;
            color: azure;
            margin-top:5px !important;
            font-size: 1em;
            font-weight: 700;
            border: 2px solid #86E388;
            border-radius: 5px;
            float: right;
        }
        .set:active{
            background: #86E388;
        }
        .share:active{
             background: #86E388;

        }
    }
    hr{
    border-top: 2px solid azure !important;
      width: 100% !important;
      display: block !important;
      visibility: visible !important;
    }
    .usercon{
        position: relative;
        padding-bottom: 120px;
            
    .user{
         
                padding-bottom: 40px;



        img{
            position: absolute;
            top:5px;
            left: 20px;
            height: 80px;
            width: 80px;
            border: 2px solid #86E388;
            border-radius: 40px;
        }
        h2{
            position: absolute;
            left: 120px;
        }
        p{
            position: absolute;
            left: 120px;
            top: 40px;
        }
        button{
            position: absolute;
            top: 100px;
            background: transparent;
            text-align: center;
            border: 2px solid #86E388;
            width: 40%;
            left: 30%;
            padding: 10px;
            color: azure;
            font-size: 1em;
            font-weight: 700;


        }
        button:active{
            background: #86E388;
        }
        }
    }
    .empty{
        height: 50px;
        width: 100%;
        background: transparent;
    }
 
    .progress-outer {
        width: 96%;
        margin: 10px 2%;
        padding: 1px;
        text-align: center;
        background: repeating-linear-gradient(-90deg, #00c3ff, #ffff1c);
        border: 1px solid #dcdcdc;
        color: #fff;
        border-radius: 10px;
        
    }
 
    .progress-inner {
        min-width: 15%;
        white-space: nowrap;
        overflow: hidden;
        padding: 5px;
        color: azure;
        border-radius: 10px;
        background-color: #141518;
    }
    .spin{
        background: rgba(0,255,255, 0.5);
        opacity: 0.7;
        bottom: 0;
        position: absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        min-height: 200% !important;
        width: 100vw !important;
        
        text-align: center;
        vertical-align: middle;
        ion-spinner{
            width: 100px;
            height: 100px;
            font-size: 2.1em !important;
            position: absolute;
            left:38%;
            fill: #ffff1c !important;
            stroke: #ffff1c;
            right:0;
            opacity: 1;
            top: 20%;
        }
        h1{
            position: absolute !important;
            color: yellow;
            top: 30%  !important;
            left:0;
            right: 0;
            text-align: center;
            font-size: 1.8em !important;
            font-family: monospace;
        }
    }
 

}
