<ion-content>
    <ion-spinner name="dots" duration="1000"[hidden]="data">Loading</ion-spinner>
  <ion-card *ngFor = "let image of data" (click)="selected($event, image)">
      <div class="header_container">
        <div class="header">
            <p> {{image.title}} </p>
        </div>
    </div>
        <div class="placeholder" *ngIf="!image.cover_photo">
            This is a placeholder
      </div>
        <img src = "{{image.cover_photo.urls.regular}}" alt = "">
      <div class="footer">
            <div class="photos">
            <ion-icon name = "ios-images-outline"> </ion-icon>
            <h2> {{image.total_photos}} </h2>
            </div>
            <p> {{image.updated_at | date: 'MMM d,y'}} </p>
       </div>
    </ion-card>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
        </ion-infinite-scroll>
</ion-content>
